.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/1/c0157032577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/13/4098f59c557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/13/d07e6bb4567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/14/a09ac1ad577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/18/20e6fcba2d7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/18/300f0f60677d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/18/809e1f795e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/19/402b2f0d697d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/19/80a65ed3537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/1b/40e611da627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/1b/6010f25c6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/1b/7054599a537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/1d/205ffbf5597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/1f/a0ea7016637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2/1096a778637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2/30bd8cdc557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/22/c0c7ab1e307a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/24/d0962f9f627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/26/104af8e62f7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/27/906bbc855f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/28/40a48c0f5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/28/f0948bfb637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2b/20da9e4a5a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2b/903bb4ff597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2d/40d6df882b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/2d/700816bd6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2e/40420835567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/2f/f06c398f5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/30/005b1be7677d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/32/60a9e70b647d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/32/f061fcd4277a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/33/50a39e86617d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/34/00981ab35a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/34/6086e4275f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/34/70cf1fd45a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/35/b0745b635f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/35/d09265395f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/36/e0c5a55b2b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/37/309c7106637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/37/60fbbdca547d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/38/e07c6db15d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/39/f0b2ed40677d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/3a/f0d15368567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/3b/c03f56bb597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/3d/30f8531c697d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/3f/70b4df03687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4/206f39cb637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4/30d599fa537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4/b07329f55a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/41/30fe5a69557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/43/806a5c34597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4a/c0f86713557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4a/e04b00e6587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4c/e0d46352307a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/4d/106d96f3597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4f/408f2ca75e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/50/e0ed319d697d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/51/400410cb5a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/51/503e3cae567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/53/c066d15f637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/55/c0ab3f15307a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/56/a0f4bc10637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/56/c0723cec5a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/5b/307ecefe537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/5d/d0984b40627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/61/604f5c9c5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/63/40e6995e657d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/63/b065a2e55e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/64/604e78d3667d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/64/7013978e537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/65/90d6d0c1587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/66/006c443a5d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/67/10500cba587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/68/60ad410d5f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/69/d0aa0fed667d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6a/806b0078617d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6a/e008922c5f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6c/f0bef43c5d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6d/7038646e597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6d/80c8190b587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6f/f0d2ec6e657d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/7/e018293e607d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/71/50e6fcaa2b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/71/a01773405a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/78/b058258c6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/7a/00cd74d0537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/7b/50e24788687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/7f/302e66d9687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/80/60538e03587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/86/50d78a74627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/87/10ad7c64687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/87/8019dfaa6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/87/80cdada85d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/8a/3059f1d2687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/8b/5003218d557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/8b/908e20b6667d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/8b/d05e9cdd5d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/8c/20d310ad557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/8d/c0d70364617d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/90/80abda856b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/91/4070fb56637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/91/70aab85f6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/92/509739f36a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/94/3085eec22f7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/94/30f05cb15f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/94/c0b85eaf6b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/95/c090d6a22b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/96/4088d54a5f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/96/60c7cd18587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/98/8013f1396b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/98/a0d9482c597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/9c/e06268755e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/9c/f0d06f9f5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/9f/00a99a8e6b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/9f/1068f7fa5f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a0/50575837577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a0/805addac6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a1/e0067e84597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a2/d0149dd15d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a3/90bcc76e567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a5/407804d5277a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/a5/f03c6c112d7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/a6/20b6194c617d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a8/c0d5d6575b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a9/80377a8e307a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/a9/a0bae8e6597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/a9/c0084d06597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/aa/10aba9d85f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/aa/20007132577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ac/10811fb52b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/ac/801ae767637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/af/907a8c50567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b0/30527001547d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b0/b0966e39637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b1/2028a5c1577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b1/8087e957687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b2/50ade052627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b2/60ddf79a5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b2/e0baf882637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b3/a088841c6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/b4/c09e7a2d2b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/b6/00a6baae6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ba/20336cb0557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ba/40559b5d557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ba/b0a5df21697d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/bb/70721e7f597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/bc/204ec1375e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/bc/e0c2bff0587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/bd/f0286e1b307a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/be/3043ab555b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c/60524dd3277a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/c1/c0aac34a5b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c2/e04a0457587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c3/60e254f75e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c4/a0beaedb687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c4/c0fff0bf687d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c6/305edfb90c7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c7/008cdacf577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c7/40f47775537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c9/304eac8d677d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/c9/b0bfba3b5a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/cc/f0c6c3495b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/cd/20d2eebb2b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/cd/a0c5d2d8597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/cd/f0a37175597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/cf/8024c949637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d0/9009c7306b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d1/304c14965d7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d2/407d2d84567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d2/b0959e5b677d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d2/c021d94d537d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d5/60e7d6385f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d6/e0626e1b587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/d8/e034fcc8597d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/db/6052e328577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/dd/002354492b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/de/509d0ae9667d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/de/e02ef84e6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/df/3039cfbf637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/df/d0d5f613567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/e/f0cc873e5b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/e0/e0c0e9762b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/e2/1003c71d0f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/e2/60fbca1e587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/e2/905dab2d5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/e4/20c690bf2d7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/e5/d0e481a4627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/eb/e0b0d229567d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ec/40413d0c557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ec/f045aae4307a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/ed/5027e16b6a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ed/8029865e2b7a00131654a56da0a80340
.metadata/.plugins/org.eclipse.core.resources/.history/ed/c0966d98637d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/ef/70d70ea05b7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f1/3094c7a9587d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f1/90d7f36a5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f2/5039c20b5f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f4/c0ac6bf8627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f8/b0920864617d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f9/60bcb69b657d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f9/90afe8665e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/fb/30777d7d5a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/fc/00691e18627d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/fc/90b72b2b5e7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/fd/40ff1f5a577d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/fe/a08e81c36a7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/fe/c0f59b00557d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.indexes/a0/d6/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.indexes/a0/de/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-desktop/.indexes/e4/81/f0/5f/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-desktop/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-desktop/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-desktop/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-desktop/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.indexes/e4/81/f0/5f/3f/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.indexes/e4/81/f0/5f/87/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.indexes/e4/81/f0/5f/b9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.indexes/e4/81/f0/5f/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1010258202.index
.metadata/.plugins/org.eclipse.jdt.core/1060078548.index
.metadata/.plugins/org.eclipse.jdt.core/1213662472.index
.metadata/.plugins/org.eclipse.jdt.core/1231098954.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/1628143439.index
.metadata/.plugins/org.eclipse.jdt.core/1740099808.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/2220222405.index
.metadata/.plugins/org.eclipse.jdt.core/2237079205.index
.metadata/.plugins/org.eclipse.jdt.core/2328043753.index
.metadata/.plugins/org.eclipse.jdt.core/2399042292.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2982917733.index
.metadata/.plugins/org.eclipse.jdt.core/3261838026.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/328077933.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3394953001.index
.metadata/.plugins/org.eclipse.jdt.core/3402582055.index
.metadata/.plugins/org.eclipse.jdt.core/3508237485.index
.metadata/.plugins/org.eclipse.jdt.core/3513380958.index
.metadata/.plugins/org.eclipse.jdt.core/3666627862.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/4121012013.index
.metadata/.plugins/org.eclipse.jdt.core/4234830697.index
.metadata/.plugins/org.eclipse.jdt.core/4238209716.index
.metadata/.plugins/org.eclipse.jdt.core/925495247.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/bad_trip_game/2014/1/2/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/bad_trip_game/2014/1/2/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/bad_trip_game/2014/1/3/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/bad_trip_game/2014/1/3/refactorings.index
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
bad_trip_game-desktop/bin/img/animation_sheet.png
bad_trip_game-desktop/bin/img/dr-emmett-brown.jpg
bad_trip_game-desktop/bin/img/player.png
bad_trip_game-desktop/bin/maps/map.tmx
bad_trip_game-desktop/bin/maps/tileset.png
bad_trip_game/bin/de/uni/bremen/entities/Character.class
bad_trip_game/bin/de/uni/bremen/entities/Entity$States.class
bad_trip_game/bin/de/uni/bremen/entities/Entity.class
bad_trip_game/bin/de/uni/bremen/entities/Player.class
bad_trip_game/bin/de/uni/bremen/physics/WorldPhysics.class
bad_trip_game/bin/de/uni/bremen/screens/PlayScreen.class
.metadata/.plugins/org.eclipse.core.resources/.history/25/107fffd4707d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/26/60ee35f8707d00131a3eece02fa30706
.metadata/.plugins/org.eclipse.core.resources/.history/38/80a45cd3707d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/42/d008ad396f7d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/4b/206d08a1707d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/56/d01692c2707d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/6c/e04b0a7e707d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.history/f/40d9fa63707d00131bdad68967da45d1
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-android/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game-desktop/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/bad_trip_game/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.ddms.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/1236318973.index
.metadata/.plugins/org.eclipse.jdt.core/2024485158.index
.metadata/.plugins/org.eclipse.jdt.core/332806487.index
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
bad_trip_game-android/bin/classes/de/uni/bremen/MainActivity.class
.metadata/.plugins/org.eclipse.core.resources/.history/11/005d2c80cd8400131f19d8aaa0a98aad
.metadata/.plugins/org.eclipse.core.resources/.history/b4/d0530199cd8400131f19d8aaa0a98aad
.metadata/.plugins/org.eclipse.core.resources/.history/c2/e08a4694cd8400131f19d8aaa0a98aad
.metadata/.plugins/org.eclipse.core.resources/.history/eb/60bcec91cd8400131f19d8aaa0a98aad
.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
bad_trip_game-desktop/bin/de/uni/bremen/Main.class
bad_trip_game/bin/de/uni/bremen/BadTripGame.class
bad_trip_game/bin/de/uni/bremen/entities/Player$States.class
